{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center bg-white p-5 game-card">
        <h1 class="display-4">🥷 The Database Ninja Game </h1>
        <p class="lead mt-3">Test your knowledge, climb the leaderboard, and become a Database Ninja!</p>
        
        <hr class="my-4">
        
        <div class="row text-start mt-4">
            <div class="col-md-6">
                <h4>📜 Game Rules</h4>
                <ul>
                    <li>There are <strong>10 Levels</strong> of increasing difficulty</li>
                    <li>Each level consists of <strong>6 random questions</strong></li>
                    <li>You must answer correctly to progress to the next level</li>
                    <li>The faster you answer, the higher your potential score!</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h4>Ready to Start?</h4>
                <div class="d-grid gap-3 mt-4">
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-success btn-lg">Register</a>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <img src="{{ url_for('static', filename='images/ninja_karate.gif') }}" style="width: 120px;">
        </div>
    </div>
</div>
{% endblock %}